<!-- ******FOOTER****** -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/la-website.js"></script>
<!-- Footer -->
<footer class="bg-white mt-auto">
  <div class="container pt-4">
    <div class="row py-1">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
		<div class="row logo-footer">
		  <a href="https://www.ala.org.au/"><img src="{{ "/assets/img/logo/ALA.png" | relative_url }}" alt="" class="img-fluid mw-100"> </a>
		  <a href="https://www.gbif.org"><img src="{{ "/assets/img/logo/GBIF-2015.png" | relative_url }}"  alt="" class="img-fluid mw-100" ></a>
		</div>
      </div>
	  <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
		<h6 class="text-uppercase font-weight-bold mb-4">CODE</h6>
        <ul class="list-unstyled mb-0">
		  <li class="mb-2"><a class="text-muted" href="https://github.com/AtlasOfLivingAustralia/">ALA GitHub</a></li>
		  <li class="mb-2"><a class="text-muted" href="https://github.com/living-atlases">LA GitHub</a></li>
		  <li class="mb-2"><a class="text-muted" href="https://crowdin.com/project/ala-i18n">Crowdin</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
		<h6 class="text-uppercase font-weight-bold mb-4">MORE</h6>
        <ul class="list-unstyled mb-0">
		  <li class="mb-2"><a class="text-muted" href="{{ "/faq" | relative_url }}">FAQ</a></li>
  		  <li class="mb-2"><a class="text-muted" href="{{ "/contact" | relative_url }}">Contact</a></li>
		  <li class="mb-2"><a class="text-muted" href="https://atlaslivingaustralia.slack.com">Slack</a></li>
		  {% comment %}
		  <li class="mb-2"><a class="text-muted" href="">Memorandum of Understanding</a></li>
		  {% endcomment %}
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
		<h6 class="text-uppercase font-weight-bold mb-4">SOCIAL</h6>
		<ul class="list-unstyled mb-0">
		  <li class="mb-2">
			<a href="https://twitter.com/atlaslivingaust" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @gbif</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		  </li>
		  <li class="mb-2">
			<a href="https://twitter.com/gbif" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @gbif</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		  </li>
		  <li class="mb-2">
			<a href="https://twitter.com/LivingAtlases" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @gbif</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		  </li>
		</ul>
      </div>
    </div>
  </div>

  <!-- Copyrights -->
  <div class="bg-light py-2">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2"> &copy; Copyright 2014-<script>document.write(new Date().getFullYear())</script> The Living Atlases Community</p>
    </div>
  </div>
</footer>
<!-- End footer -->
