<!-- ******FOOTER****** -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/la-website.js" | relative_url }}"></script>

<!-- Footer -->
<footer class="bg-white mt-auto">
  <div class="container pt-4">
    <div class="row py-1">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
		<div class="row logo-footer">
		  <a href="https://www.ala.org.au/"><img src="{{ "/assets/img/logo/ALA.png" | relative_url }}" alt="" class="img-fluid mw-100"> </a>
		  <a href="https://www.gbif.org"><img src="{{ "/assets/img/logo/GBIF-2015.png" | relative_url }}"  alt="" class="img-fluid mw-100" ></a>
		</div>
      </div>
	  <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
		<h6 class="text-uppercase font-weight-bold mb-4">CODE</h6>
        <ul class="list-unstyled mb-0">
		  <li class="mb-2"><a class="text-muted" href="https://github.com/AtlasOfLivingAustralia/">ALA GitHub</a></li>
		  <li class="mb-2"><a class="text-muted" href="https://github.com/living-atlases">LA GitHub</a></li>
		  <li class="mb-2"><a class="text-muted" href="https://crowdin.com/project/ala-i18n">Crowdin</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
		<h6 class="text-uppercase font-weight-bold mb-4">MORE</h6>
        <ul class="list-unstyled mb-0">
		  <li class="mb-2"><a class="text-muted" href="{{ "/faq" | relative_url }}">FAQ</a></li>
  		  <li class="mb-2"><a class="text-muted" href="{{ "/contact" | relative_url }}">Contact</a></li>
		  <li class="mb-2"><a class="text-muted" href="https://atlaslivingaustralia.slack.com">Slack</a></li>
		  {% comment %}
		  <li class="mb-2"><a class="text-muted" href="">Memorandum of Understanding</a></li>
		  {% endcomment %}
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
		<h6 class="text-uppercase font-weight-bold mb-4">SOCIAL</h6>
		<ul class="list-unstyled mb-0">
		  <li class="mb-2">
			<a href="https://twitter.com/atlaslivingaust" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @gbif</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		  </li>
		  <li class="mb-2">
        <a href="https://bsky.app/profile/gbif.org" target="_blank" rel="noopener noreferrer" class="btn-bluesky-compact">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
            <path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/>
          </svg>
          Follow @gbif.org on Bluesky
        </a>
		  </li>
		  </li>
		  <li class="mb-2">
        <a href="https://bsky.app/profile/living-atlases.gbif.org" target="_blank" rel="noopener noreferrer" class="btn-bluesky-compact">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon">
            <path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/>
          </svg>
          Follow us on Bluesky
        </a>
		  </li>
		</ul>
      </div>
    </div>
  </div>

  <!-- Copyrights -->
  <div class="bg-light py-2">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2"> &copy; Copyright 2013-<script>document.write(new Date().getFullYear())</script> The Living Atlases Community under <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" target="_blank">CC BY-SA-4.0</a></p>
    </div>
  </div>
</footer>
<!-- End footer -->
