<header class="site-header" role="banner">
  <div class="container">
    <a href= {{ "/" | relative_url }}>
      <img src="{{ "/assets/img/header/la-logo-header4.svg" | relative_url }}"  class="img-fluid header-la-logo" alt="" >
    </a>

    <div class="header-la-desc" role="navigation">
      The open community around the Atlas of Living Australia platform
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-sm sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarToggler">

      <ul class="navbar-nav justify-content-center nav-pills nav-fill" role="tablist">
        {% assign url_prefix__ = page.url | split:'/' %}
        {% assign url_prefix_ = url_prefix__[1] | split:'.' %}
        {% assign url_prefix = url_prefix_[0] %}
        <li class="nav-item">
          <a {% if page.url == "/" %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ "/" | relative_url }}"  aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a {% if url_prefix == "news" %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ "/news" | relative_url }}">News</a>
        </li>

        <li class="nav-item dropdown">
          <!-- <a class="nav-link" href="{{ "/about" | relative_url }}">About</a> -->
          <a {% if url_prefix == "about" %}class="nav-link dropdown-toggle active" aria-current="page"{% else %}class="nav-link dropdown-toggle"{% endif %} data-toggle="dropdown" href="#" role="button" role="button" aria-expanded="false">About</a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ "/about" | relative_url }}">About</a>
            <a class="dropdown-item" href="{{ "/lamc" | relative_url }}">Management Committee</a>
            <a class="dropdown-item" href="{{ "/coordinators" | relative_url }}">Coordinators</a>
            <a class="dropdown-item" href="{{ "/participants  " | relative_url }}">Participants</a>
          </div>
        </li>
        <li class="nav-item">
          <a {% if url_prefix == "projects"  %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ "/projects" | relative_url }}">Projects</a>
        </li>
        <li class="nav-item">
          <a {% if url_prefix == "events" %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ "/events" | relative_url }}">Events</a>
        </li>
        <li class="nav-item">
          <a {% if url_prefix == "resources"  %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ "/resources" | relative_url }}">Resources</a>
        </li>
        <!--  <li class="nav-item">
             <a {% if url_prefix == "faq" %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ "/faq" | relative_url }}">FAQ</a>
             </li> -->
             <li class="nav-item">
             <a {% if url_prefix == "contact" %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %} href="{{ "/contact" | relative_url }}">Contact</a>
             </li>
      </ul>
    </div>
  </div>
</nav>
