/*
 * Reset some basic elements
 */


// VARIABLES 

// colors 
// $color-bg: #E4E8E7;
$color-news-title: #FF5A6E;
$color-news-border-description: #D7D7D7;
$color-title-project: #529D2E;
$color-font-default: #4e565F;
// $color-green-table-gbif: rgb(82, 157, 46);
$color-green-table-gbif: $primary;

// $white: #fff;
$white: #f2f2f2;
$color-bg: $white;

$color-menu: #005819;

$menu-bg: #00ac34;

$darky: darkslategray;
// $caption-bg: $menu-bg;
$caption-bg: $darky;

// BASIC ELEMENTS

body{
    background-color: $color-bg;
    color: $color-font-default;
}

h2{
    text-align: center;
    color: $color-title-project;
}

h3{
    text-align: center;
    color: $color-title-project;
    margin-bottom: 30px;
}

h4 {
    text-align: left;
    // margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-bottom: 1px solid $color-title-project
}

a {
    color: $color-menu;
}

/* navbar  */

.nav-item > a, .nav-item > a:hover{
    color: $white;
}

.navbar, .navbar .container {
    background-color: $menu-bg;
}

.navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
  }

.navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
}

.header-la-logo {
    padding: 14px 0 5px 0px;
}

.header-la-desc {
    padding-bottom: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.nav-item:not(:first-child) {
    padding: 0px 10px;
}

.container{
    // background-color: $white;
    // padding: 1% 3% 1% 3%;
}

h5{
    text-align: center;
    color: $color-title-project;
}

.table .thead-light th{
    background-color: $color-green-table-gbif;
    color: $white;
}

.page-content {
      margin-top: 30px;

}

// HEADER
.site-header, .site-header .container {
    // background-color: #d4e7cc;
    background-color: $white;
}

// HOME

.carousel-caption > h4,
.carousel-caption > h5 {
    color: $white,
}

.carousel-caption {
    color: $white;
    background-color: $caption-bg;
    opacity: .8;
    right: 0%;
    left: 0%;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0 0 100px 0;
}

#carouselIndicators {
    margin-top: -30px;
}

#carouselIndicators > div > div > div > div > div > div.img-box > div > div,
#carouselIndicators > div.carousel-inner > div > div.row > div.col {
    padding: 0px !important;
}

div.carousel-inner {}

ol.carousel-indicators li {
  }

#carouselIndicators > div > div > div > div > div > div > div > div > img
{
    display: block;
    object-fit: cover;
    object-position: 100% 0;
    height: 400px !important;
}

#carouselIndicators > div > div > div > div > div > div > div > div > img.img-first {
    object-position: 50% 50%;
}

ol.carousel-indicators li.active {
      background-color: $white;
}

.carousel {
}

.carousel .carousel-item {
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-item h4 {
    border-bottom: 0px;
}

.carousel .carousel-item img {
    max-width: 100%;
    display: inline-block;
}

.carousel .carousel-item .btn {
    padding: 6px 15px;
    margin-top: 5px;
}

.carousel .carousel-item .btn:hover {
}

.carousel .carousel-item .btn i {
    font-size: 14px;
    // font-weight: bold;
    margin-left: 5px;
}

.carousel .thumb-wrapper {
    text-align: left;
    background: $caption-bg;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.carousel .thumb-content,
.carousel .thumb-content .container {
    padding: 15px;
    color: $white;
    background: $caption-bg;
}

.carousel-control-prev, .carousel-control-next {
    width: 34px;
    background: none;
    // margin: auto 0;
    align-self: flex-end;
    background-color: grey;
}

.carousel-control-prev i, .carousel-control-next i {
    font-size: 46px;
    color: $caption-bg;
    position: absolute;
    bottom: 10%;
    display: inline-block;
    align-self: flex-end;
    // margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    // color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}

.carousel-control-prev i {
    margin-left: -3px;
}

.carousel-control-next i {
    margin-right: -3px;
}

.carousel-indicators {
    bottom: 130px !important;
}

.carousel-indicators li, .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 4px;
    border: none;
}

.carousel-indicators li {
    background: #FFF;
}

.carousel-indicators li.active {
    background: $white;
}

// PAGE NEWS
#container-news {
    background-color: $color-bg;
}

.news{
    background-color: $white;
    border: 1px solid #1B1B1B;
}

.news > .col > h3 {
    border-bottom: 1px solid $color-news-border-description;
    padding: 1%;
    text-align: left;
}

.news > .col > h3 > a {
    color: $color-title-project;
    text-decoration: none;
}

.news > h3 > a:hover{
    text-decoration: none;
}

.short-description{
    padding: 1%;
}

.published-by{
    border-top: 1px solid $color-news-border-description;
    font-style: italic;
    padding: 1%;
}

// PAGE ABOUT

.tab-content h4 {
    text-align: left;
    // margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-bottom: 1px solid $color-title-project
}

#pills-coordinators li{
    list-style-type: lower-alpha;
}


// PAGE SINGLE NEWS
#container-single-news img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container-single-project h5{
    text-align: left;
}

// PAGE PARTICIPANT
#container-participant img{
    height: auto; 
    width: auto; 
    max-width: 100%; 
    align-content: center;
    display: flex;
    padding-top:1%;
}

// HEADER

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: $color-menu;
}


.dropdown-item:hover{
    background-color: $color-green-table-gbif;
}

// HOME PAGE

.col-index{
    display: flex;
    justify-content: center;
}

.feature{
    flex: 0 0 95%;
    max-width: 100%;
    margin: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    background: #fff;
}

.feature-highlight{
    max-width: 100%;
    margin: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    background: #fff;
}

.feature-highlight .feature-content{
    padding: 24px 24px 48px 24px;
}

.feature .feature-content{
    padding: 24px 24px 48px 24px;
}

.feature-date {
    font-weight: 500;
    font-size: 90%;
}

// FOOTER

.logo-footer{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.twitter-follow{
    margin-right: 2%;
    margin-top: 2%;
}

