/**
 * Reset some basic elements
 */


// VARIABLES 


// colors 
// $color-bg: #E4E8E7;
$color-bg: #FFF;
$color-news-title: #FF5A6E;
$color-news-border-description: #D7D7D7;
$color-title-project: #529D2E;
$color-font-default: #4e565F;
$color-green-table-gbif: rgb(82, 157, 46);
$white: #fff;

$color-menu: #005819;

$white: #fff;

// BASIC ELEMENTS

body{
	background-color: $color-bg;
	color: $color-font-default;
}

h2{
	text-align: center;
	color: $color-title-project;
}

h3{
	text-align: center;
	color: $color-title-project;
}

h4{
	text-align: left;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	border-bottom: 1px solid $color-title-project
}

a{
	color: $color-menu;
}

.nav-item > a, a:hover{
	color: $white;
}

.navbar, .navbar .container {
    background-color: #00ac34;
}


.header-la-logo {
    padding: 14px 0 5px 0px;
}

.header-la-desc {
    padding-bottom: 12px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.nav-item:not(:first-child) {
    padding: 0px 10px;
}

.container{
	background-color: $white;
	// padding: 1% 3% 1% 3%;
}

h5{
	text-align: center;
	color: $color-title-project;
}

.table .thead-light th{
	background-color: $color-green-table-gbif;
	color: $white;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .table {
    background-color: $body-bg;
  }
}

.page-content {
    margin-top: 30px;
}


// HEADER
.site-header, .site-header .container {
   // background-color: #d4e7cc;
   background-color: $white;
}

// HOME

.carousel-caption {
	color: $color-font-default;
	background-color: white; 
	right: 0%;
	left: 0%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#carouselIndicators {
    margin-top: -30px;
}

#carouselIndicators > div.carousel-inner > div > div.row > div.col {
    padding: 0px !important;
}

div.carousel-inner > div > div.row  {
    height: 500px;
}

ol.carousel-indicators {
     position: absolute;
     bottom: 5px;
     margin: 0;
     left: 0;
     right: 0;
     width: auto;
}

ol.carousel-indicators li, ol.carousel-indicators li.active {
     width: 1rem;
     height: 1rem;
     margin: 0;
     border-radius: 50%;
     border: 0;
     background: transparent;
}

ol.carousel-indicators li {
     background: rgba(255,255,255,0.69);
     margin-left: .5rem;
     margin-right: .5rem;
}

ol.carousel-indicators li.active {
    background: $color-green-table-gbif;
}

// PAGE NEWS
#container-news {
	background-color: $color-bg;
}

.news{
	background-color: $white;
	border: 1px solid #1B1B1B;
}

.news > .col > h3 {
	border-bottom: 1px solid $color-news-border-description;
	padding: 1%;
	text-align: left;
}

.news > .col > h3 > a {
	color: $color-title-project;
	text-decoration: none;
}

.news > h3 > a:hover{
	text-decoration: none;
}

.short-description{
	padding: 1%;
}

.published-by{
	border-top: 1px solid $color-news-border-description;
	font-style: italic;
	padding: 1%;
}

// PAGE ABOUT

.tab-content h4{
	text-align: left;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	border-bottom: 1px solid $color-title-project
}

#pills-coordinators li{
	list-style-type: lower-alpha;
}


// PAGE SINGLE NEWS
#container-single-news img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#container-single-project h5{
	text-align: left;
}

// PAGE PARTICIPANT
#container-participant img{
    height: auto; 
    width: auto; 
    max-width: 100%; 
    align-content: center;
	display: flex;
	padding-top:1%;
}

// HEADER

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background-color: $color-menu;
}


.dropdown-item:hover{
	background-color: $color-green-table-gbif;
}

// HOME PAGE

.col-index{
	display: flex;
	justify-content: center;
}

.feature{
    flex: 0 0 95%;
    max-width: 100%;
    margin: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    background: #fff;
}

.feature-highlight{
	max-width: 100%;
    margin: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    background: #fff;
}

.feature-highlight .feature-content{
	padding: 24px 24px 48px 24px;
}

.feature .feature-content{
	padding: 24px 24px 48px 24px;
}

.feature-date {
    font-weight: 500;
    font-size: 90%;
}


// FOOTER

.logo-footer{
	width: 60%;
	margin-left: auto;
	margin-right: auto; 
}

.twitter-follow{
	margin-right: 2%;
	margin-top: 2%;
}

