<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <!--https://stackoverflow.com/questions/40853952/bootstrap-footer-at-the-bottom-of-the-page -->
  <body class="d-flex flex-column min-vh-100">

    {%- include header.html -%}

    {%- if page.picture -%}
    <div class="page-hero">
      <img src="{{ page.picture }}" alt="{{ page.title }}" class="img-fluid">
    </div>
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
